<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Board</title>
  </head>
  <body>
    <a href="/">홈으로</a>
    <a href="/signup">회원가입</a>
    <a href="/login">로그인</a>
    <a href="/logout">로그아웃</a>
    <%= yield %>
  </body>
</html>
